.container{
    display: flex;
    justify-content: space-around;
    margin: 2pc;
}
#imgHome{
    width: 40pc;
}
.esq{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#title_home{
    font-size: 2.3pc;
}
#span_home{
    color: var(--rosa);
    font-weight: bolder;

}
#buttonHome{
    background-color: var(--rosa);
    border-radius: 2pc;
    border: none;
    width: 15pc;
    height: 3pc;
    color: white;
}
