#voltar{
    margin-left: 2pc;
}
#cliente-list-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#header {
    text-align: center;
}

#header-title {
    color: #333;
    margin-bottom: 20px;
}

#cliente-list {
    list-style-type: none;
    padding: 0;
}

.cliente-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.cliente-item:hover {
    background-color: #e6f7ff;
}

.cliente-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#modal-content {
    padding: 20px;
}

.input-bonus {
    width: 100%;
    margin-top: 10px;
}
