.custom-table .ant-table-thead > tr > th {
    background-color: rgb(182, 178, 178); 
    color: white; 
    font-weight: bold; 
}

.custom-table .ant-table-tbody > tr > td {
    color: #333; 
}
#minput{
    margin-left: 2pc;
}

#spanBonus{
color: gainsboro;
font-weight: 400;
font-size: 2pc;
}
.custom-table .ant-table-tbody > tr:hover {
    background-color: rgba(108, 99, 255, 0.1); 
}
#title_gerenciar{
    text-align: center;
    font-weight: 600;
    color: var(--rosa);
}
.marginTable{
    margin: 2pc;
}